/* Estilo para o cabeçalho */
header {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

header h1 {
  font-size: 32px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Estilo para o conteúdo principal */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.destaque {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
}

.destaque h2 {
  font-size: 24px;
  color: #007bff;
}

.conteudo-destaque {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}

.conteudo-destaque a {
  display: block;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  color: #333;
}

.conteudo-destaque h3 {
  font-size: 18px;
  margin: 10px 0;
}

/* Estilo para o rodapé */
footer {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 10px;
}
/* Estilo para todas as imagens */
img {
  width: 100px;
}

/* Estilo para links */
a {
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}
